AffiliatedContacts/force-app/main/default/flows/CreateAffiliatedContact.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <choices>
        <description>Choose an existing Contact from Tartan360, or create a new one, and associate it with this Account.</description>
        <name>CreateNewContactPath</name>
        <choiceText>Create a new Organizational Contact record for a person and associate it with this Company</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>CreateNewContact</stringValue>
        </value>
    </choices>
    <choices>
        <description>Choose an existing Contact from Tartan360, or create a new one, and associate it with this Account.</description>
        <name>SelectExistingPath</name>
        <choiceText>Select an existing Contact record from Tartan360 to associate with this Account</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>ExistingContact</stringValue>
        </value>
    </choices>
    <decisions>
        <name>DuplicateFound</name>
        <label>DuplicateFound</label>
        <locationX>1213</locationX>
        <locationY>391</locationY>
        <defaultConnector>
            <targetReference>Create_Affiliated_Contact_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>DuplicateACFound</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FindDuplicate.Id</leftValueReference>
                <operator>WasSet</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AffilConExists</targetReference>
            </connector>
            <label>DuplicateACFound</label>
        </rules>
    </decisions>
    <decisions>
        <name>PathChosen</name>
        <label>PathChosen</label>
        <locationX>498</locationX>
        <locationY>270</locationY>
        <defaultConnector>
            <targetReference>SearchForContact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>PathChosenCreateNewContact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>What_would_you_like_to_do</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>CreateNewContactPath</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CollectFieldsForContactCreate</targetReference>
            </connector>
            <label>PathChosenCreateNewContact</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>CompanyAffiliation</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Affiliation__c</picklistField>
        <picklistObject>Affiliated_Contact__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ContactRecord</name>
        <dataType>String</dataType>
        <displayField>Contact_Search_String__c</displayField>
        <filters>
            <field>Entity_Record_Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Deceased</stringValue>
            </value>
        </filters>
        <filters>
            <field>Entity_Record_Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Assumed Deceased</stringValue>
            </value>
        </filters>
        <filters>
            <field>FirstName</field>
            <operator>Contains</operator>
            <value>
                <elementReference>First_Name</elementReference>
            </value>
        </filters>
        <filters>
            <field>LastName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Last_Name</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>ChosenContact</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>Contact_Search_String__c</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Contact_Search_String__c</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>MainSchoolPicklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Main_School__c</picklistField>
        <picklistObject>Affiliated_Contact__c</picklistObject>
    </dynamicChoiceSets>
    <interviewLabel>CreateAffiliatedContact {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Affiliated Contact</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Affiliated_Contact_Record</name>
        <label>Create Affiliated Contact Record</label>
        <locationX>1424</locationX>
        <locationY>390</locationY>
        <connector>
            <targetReference>End</targetReference>
        </connector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Affiliation__c</field>
            <value>
                <elementReference>Company_Affiliation</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact__c</field>
            <value>
                <elementReference>ChosenContact</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Main_Liaison__c</field>
            <value>
                <elementReference>MainLiaison.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Main_School__c</field>
            <value>
                <elementReference>Main_School_Input2</elementReference>
            </value>
        </inputAssignments>
        <object>Affiliated_Contact__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Affiliated_Contact_Record_0</name>
        <label>Create Affiliated Contact Record</label>
        <locationX>1177</locationX>
        <locationY>157</locationY>
        <connector>
            <targetReference>End_0</targetReference>
        </connector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Affiliation__c</field>
            <value>
                <elementReference>Company_Affiliation_0</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact__c</field>
            <value>
                <elementReference>Create_Contact_Record</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Main_Liaison__c</field>
            <value>
                <elementReference>MainLiaison.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Main_School__c</field>
            <value>
                <elementReference>Main_School_Input1</elementReference>
            </value>
        </inputAssignments>
        <object>Affiliated_Contact__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Contact_Record</name>
        <label>Create Contact Record</label>
        <locationX>870</locationX>
        <locationY>156</locationY>
        <connector>
            <targetReference>Complete_the_Affiliation_Record_0</targetReference>
        </connector>
        <inputAssignments>
            <field>AQB__ContactSource__c</field>
            <value>
                <stringValue>Business Engagement - Affiliated Contact Flow</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AQB__Type__c</field>
            <value>
                <stringValue>Organizational Contact</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>EmailCreate.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>FirstNameCreate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>LastNameCreate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LinkedIn__c</field>
            <value>
                <elementReference>LinkedInCreate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OtherCity</field>
            <value>
                <elementReference>AddressCreate.city</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OtherCountry</field>
            <value>
                <elementReference>AddressCreate.country</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OtherPostalCode</field>
            <value>
                <elementReference>AddressCreate.postalCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OtherState</field>
            <value>
                <elementReference>AddressCreate.province</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OtherStreet</field>
            <value>
                <elementReference>AddressCreate.street</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>PhoneCreate.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>0122S000000oViSQAU</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Title</field>
            <value>
                <elementReference>TitleCreate</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>FindDuplicate</name>
        <label>FindDuplicate</label>
        <locationX>1094</locationX>
        <locationY>389</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>DuplicateFound</targetReference>
        </connector>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ChosenContact</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Affiliated_Contact__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Add_New_Affiliated_Contact</name>
        <label>Add New Affiliated Contact</label>
        <locationX>384</locationX>
        <locationY>268</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>PathChosen</targetReference>
        </connector>
        <fields>
            <name>What_would_you_like_to_do</name>
            <choiceReferences>SelectExistingPath</choiceReferences>
            <choiceReferences>CreateNewContactPath</choiceReferences>
            <dataType>String</dataType>
            <fieldText>What would you like to do?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>AffilConExists</name>
        <label>AffilConExists</label>
        <locationX>1291</locationX>
        <locationY>597</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ExistsAlready</name>
            <fieldText>&lt;p&gt;An Affiliated Contact already exists for this Contact on this Account.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>CollectFieldsForContactCreate</name>
        <label>CollectFieldsForContactCreate</label>
        <locationX>732</locationX>
        <locationY>157</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_Contact_Record</targetReference>
        </connector>
        <fields>
            <name>Create</name>
            <fieldText>&lt;p&gt;Create a new Contact and associate it with this Account&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>FirstNameCreate</name>
            <dataType>String</dataType>
            <fieldText>First Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>LastNameCreate</name>
            <dataType>String</dataType>
            <fieldText>Last Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>TitleCreate</name>
            <dataType>String</dataType>
            <fieldText>Title</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>EmailCreate</name>
            <extensionName>flowruntime:email</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Email</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>PhoneCreate</name>
            <extensionName>flowruntime:phone</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Phone</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>AddressCreate</name>
            <extensionName>flowruntime:address</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>LinkedInCreate</name>
            <dataType>String</dataType>
            <fieldText>LinkedIn</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Complete_the_Affiliation_Record</name>
        <label>Complete the Affiliation Record</label>
        <locationX>974</locationX>
        <locationY>390</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>FindDuplicate</targetReference>
        </connector>
        <fields>
            <name>ProvideACDetails</name>
            <fieldText>&lt;p&gt;Please provide the rest of the details about this Affiliated Contact&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Company_Affiliation</name>
            <choiceReferences>CompanyAffiliation</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Their primary affiliation to this Company:</fieldText>
            <fieldType>MultiSelectPicklist</fieldType>
            <helpText>&lt;p&gt;Indicate the nature of this person&apos;s relationship with the company.&lt;/p&gt;</helpText>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Main_School_Input2</name>
            <choiceReferences>MainSchoolPicklist</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Main School</fieldText>
            <fieldType>DropdownBox</fieldType>
            <helpText>&lt;p&gt;CMU School cultivating the main relationship with this person. (Not necessarily this person&apos;s Primary School Affiliation or where they have attended or completed degrees)&lt;/p&gt;</helpText>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>User</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Main_Liaison__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Main Liaison:</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Affiliated_Contact__c</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>MainLiaison.Id</assignToReference>
                <name>recordId</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Complete_the_Affiliation_Record_0</name>
        <label>Complete the Affiliation Record</label>
        <locationX>1015</locationX>
        <locationY>156</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_Affiliated_Contact_Record_0</targetReference>
        </connector>
        <fields>
            <name>ProvideText</name>
            <fieldText>&lt;p&gt;Please provide the rest of the details about this Affiliated Contact&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Company_Affiliation_0</name>
            <choiceReferences>CompanyAffiliation</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Their primary affiliation with the Company:</fieldText>
            <fieldType>MultiSelectPicklist</fieldType>
            <helpText>&lt;p&gt;Indicate the nature of this person&apos;s relationship with the company.&lt;/p&gt;</helpText>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Main_School_Input1</name>
            <choiceReferences>MainSchoolPicklist</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Main School</fieldText>
            <fieldType>DropdownBox</fieldType>
            <helpText>&lt;p&gt;CMU School cultivating the main relationship with this person. (Not necessarily this person&apos;s Primary School Affiliation or where they have attended or completed degrees)&lt;/p&gt;</helpText>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>User_0</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Main_Liaison__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Main Liaison:</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Affiliated_Contact__c</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>MainLiaison.Id</assignToReference>
                <name>recordId</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>End</name>
        <label>End</label>
        <locationX>1557</locationX>
        <locationY>390</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>EndFlow</name>
            <fieldText>&lt;p&gt;The Affiliated Contact has been added to the Account.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>End_0</name>
        <label>End</label>
        <locationX>1350</locationX>
        <locationY>157</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>EndFlow_0</name>
            <fieldText>&lt;p&gt;The Affiliated Contact has been added to the Account.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>SearchForContact</name>
        <label>SearchForContact</label>
        <locationX>730</locationX>
        <locationY>391</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Select_Contact</targetReference>
        </connector>
        <fields>
            <name>Search_for_Existing</name>
            <fieldText>&lt;p&gt;Search for an Existing Contact&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>First_Name</name>
            <dataType>String</dataType>
            <fieldText>First Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Last_Name</name>
            <dataType>String</dataType>
            <fieldText>Last Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_Contact</name>
        <label>Select Contact</label>
        <locationX>856</locationX>
        <locationY>391</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Complete_the_Affiliation_Record</targetReference>
        </connector>
        <fields>
            <name>Select_Contact_Record</name>
            <choiceReferences>ContactRecord</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select Contact Record</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>44</locationX>
        <locationY>268</locationY>
        <connector>
            <targetReference>Add_New_Affiliated_Contact</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ChosenContact</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>MainLiaison</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>noIdPassed</stringValue>
        </value>
    </variables>
</Flow>
