AffiliatedContacts/force-app/main/default/flows/CreateAffiliatedCompany.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <choices>
        <name>Advisor</name>
        <choiceText>Advisor</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>BoardMember</name>
        <choiceText>Board Member</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>CorporateFoundation</name>
        <choiceText>Corporate Foundation</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Corporation</name>
        <choiceText>Corporation</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Corporation</stringValue>
        </value>
    </choices>
    <choices>
        <description>Choose an existing Contact from Tartan360, or create a new one, and associate it with this Account.</description>
        <name>CreateNewPath</name>
        <choiceText>Create a new Account record and associate this Contact with it</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>CreateNewAccount</stringValue>
        </value>
    </choices>
    <choices>
        <name>DonorAdvisedCharitableOrganization</name>
        <choiceText>Donor Advised Charitable Organization</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Employee</name>
        <choiceText>Employee</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>EventOrganization</name>
        <choiceText>Event Organization</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Executive</name>
        <choiceText>Executive</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Facilitator</name>
        <choiceText>Facilitator</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>FamilyFoundation</name>
        <choiceText>Family Foundation</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Federal</name>
        <choiceText>Federal&lt;p&gt;&lt;br&gt;&lt;/p&gt;</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Foundation</name>
        <choiceText>Foundation</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Government</name>
        <choiceText>Government</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>GovernmentStateLocal</name>
        <choiceText>Government - State/Local</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Industry</name>
        <choiceText>Industry</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Influencer</name>
        <choiceText>Influencer</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Intern</name>
        <choiceText>Intern</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Non_Profit</name>
        <choiceText>Non-Profit Organization</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Organization</name>
        <choiceText>Foundation / Other Organization</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Organization</stringValue>
        </value>
    </choices>
    <choices>
        <name>OtherOrganization</name>
        <choiceText>Other Organization</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Owner</name>
        <choiceText>Owner</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Partner</name>
        <choiceText>Partner</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>PrivateFoundation</name>
        <choiceText>Private Foundation</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <description>Choose an existing Account from Tartan360, or create a new one, and associate it with this Contact.</description>
        <name>SelectExistingPath</name>
        <choiceText>Select an existing Account record from Tartan360 and associate this Contact with it</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>ExistingAccount</stringValue>
        </value>
    </choices>
    <choices>
        <name>UniversityCollege</name>
        <choiceText>University/College</choiceText>
        <dataType>String</dataType>
    </choices>
    <decisions>
        <name>Corp_or_Foundation</name>
        <label>Corp or Foundation?</label>
        <locationX>1022</locationX>
        <locationY>246</locationY>
        <defaultConnector>
            <targetReference>Create_Organization_Account</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CorporationChosen</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Corporation_or_Foundation</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Corporation</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Corporation_Account</targetReference>
            </connector>
            <label>CorporationChosen</label>
        </rules>
    </decisions>
    <decisions>
        <name>PathChosen</name>
        <label>PathChosen</label>
        <locationX>633</locationX>
        <locationY>360</locationY>
        <defaultConnector>
            <targetReference>SearchForAcct</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>PathChosenCreateNewAccount</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>What_would_you_like_to_do</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>CreateNewPath</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Account</targetReference>
            </connector>
            <label>PathChosenCreateNewAccount</label>
        </rules>
    </decisions>
    <decisions>
        <name>Record_Found</name>
        <label>Record Found</label>
        <locationX>1392</locationX>
        <locationY>504</locationY>
        <defaultConnector>
            <targetReference>Create_Affiliated_Contact_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>DuplicateFound</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FindDuplicates.Id</leftValueReference>
                <operator>WasSet</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RecordExists</targetReference>
            </connector>
            <label>DuplicateFound</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>AccountRecord</name>
        <dataType>String</dataType>
        <displayField>Corp_Account_Search_String__c</displayField>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <elementReference>Account_Name</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>ChosenAccount</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Corp_Account_Search_String__c</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>CompanyAffiliation</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Affiliation__c</picklistField>
        <picklistObject>Affiliated_Contact__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>MainSchoolPicklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Main_School__c</picklistField>
        <picklistObject>Affiliated_Contact__c</picklistObject>
    </dynamicChoiceSets>
    <interviewLabel>CreateAffiliatedCompany {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CreateAffiliatedCompany</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Affiliated_Contact_Record</name>
        <label>Create Affiliated Contact Record</label>
        <locationX>1616</locationX>
        <locationY>501</locationY>
        <connector>
            <targetReference>finalPage_0_0</targetReference>
        </connector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>ChosenAccount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Affiliation__c</field>
            <value>
                <elementReference>Company_Affiliation</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Main_Liaison__c</field>
            <value>
                <elementReference>MainLiaison.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Main_School__c</field>
            <value>
                <elementReference>Main_School_Input3</elementReference>
            </value>
        </inputAssignments>
        <object>Affiliated_Contact__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Corporation_Account_Insert</name>
        <label>Create Corporation Account</label>
        <locationX>1464</locationX>
        <locationY>186</locationY>
        <connector>
            <targetReference>Affiliated_Contact_Details</targetReference>
        </connector>
        <inputAssignments>
            <field>AQB__AccountStatus__c</field>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AQB__AccountType__c</field>
            <value>
                <stringValue>Corporation</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AQB__SecondaryTypes__c</field>
            <value>
                <elementReference>Secondary_Account_Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingCity</field>
            <value>
                <elementReference>CorpAddress.city</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingCountry</field>
            <value>
                <elementReference>CorpAddress.country</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingState</field>
            <value>
                <elementReference>CorpAddress.province</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingStreet</field>
            <value>
                <elementReference>CorpAddress.street</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>D_B_Number__c</field>
            <value>
                <elementReference>D_B_Number</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Account_Name_Corp</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>012f4000000gmsAAAQ</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sic</field>
            <value>
                <elementReference>SIC_Code</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Website</field>
            <value>
                <elementReference>CompanyWebsite</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Organization_Account_Insert</name>
        <label>Create Organization Account</label>
        <locationX>1482</locationX>
        <locationY>346</locationY>
        <connector>
            <targetReference>Affiliated_Contact_Details_0</targetReference>
        </connector>
        <inputAssignments>
            <field>AQB__AccountStatus__c</field>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AQB__AccountType__c</field>
            <value>
                <elementReference>Account_Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AQB__SecondaryTypes__c</field>
            <value>
                <elementReference>Secondary_Account_Type_0</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingCity</field>
            <value>
                <elementReference>CorpAddress_0.city</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingCountry</field>
            <value>
                <elementReference>CorpAddress_0.country</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingState</field>
            <value>
                <elementReference>CorpAddress_0.province</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingStreet</field>
            <value>
                <elementReference>CorpAddress_0.street</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>D_B_Number__c</field>
            <value>
                <elementReference>D_B_Number_0</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Account_Name_Corp_0</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>012f4000000gmsCAAQ</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sic</field>
            <value>
                <elementReference>SIC_Code_0</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Website</field>
            <value>
                <elementReference>CompanyWebsite_0</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>CreateAffilContactCorpAccount</name>
        <label>CreateAffilContactCorpAccount</label>
        <locationX>1775</locationX>
        <locationY>187</locationY>
        <connector>
            <targetReference>finalPage</targetReference>
        </connector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>Create_Corporation_Account_Insert</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Affiliation__c</field>
            <value>
                <elementReference>Primary_Affiliations_to_Company</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Main_Liaison__c</field>
            <value>
                <elementReference>MainLiaisonSelect.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Main_School__c</field>
            <value>
                <elementReference>Main_School_Input1</elementReference>
            </value>
        </inputAssignments>
        <object>Affiliated_Contact__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>CreateAffilContactCorpAccount_0</name>
        <label>CreateAffilContactCorpAccount</label>
        <locationX>1760</locationX>
        <locationY>345</locationY>
        <connector>
            <targetReference>finalPage_0</targetReference>
        </connector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>Create_Organization_Account_Insert</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Affiliation__c</field>
            <value>
                <elementReference>Primary_Affiliations_to_Organization</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Main_Liaison__c</field>
            <value>
                <elementReference>MainLiaisonSelect_0.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Main_School__c</field>
            <value>
                <elementReference>Main_School_Input2</elementReference>
            </value>
        </inputAssignments>
        <object>Affiliated_Contact__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>FindDuplicates</name>
        <label>FindDuplicates</label>
        <locationX>1259</locationX>
        <locationY>504</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Record_Found</targetReference>
        </connector>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ChosenAccount</elementReference>
            </value>
        </filters>
        <filters>
            <field>Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Affiliated_Contact__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Add_New_Affiliated_Contact</name>
        <label>Add New Affiliated Contact</label>
        <locationX>484</locationX>
        <locationY>358</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>PathChosen</targetReference>
        </connector>
        <fields>
            <name>What_would_you_like_to_do</name>
            <choiceReferences>SelectExistingPath</choiceReferences>
            <choiceReferences>CreateNewPath</choiceReferences>
            <dataType>String</dataType>
            <fieldText>What would you like to do?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Affiliated_Contact_Details</name>
        <label>Affiliated Contact Details</label>
        <locationX>1613</locationX>
        <locationY>188</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>CreateAffilContactCorpAccount</targetReference>
        </connector>
        <fields>
            <name>PleaseProvideDetails</name>
            <fieldText>&lt;p&gt;Please provide the rest of the details for this Affiliated Contact:&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Primary_Affiliations_to_Company</name>
            <choiceReferences>CompanyAffiliation</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Their Primary Affiliation(s) to this Company</fieldText>
            <fieldType>MultiSelectPicklist</fieldType>
            <helpText>&lt;p&gt;Indicate the nature of this person&apos;s relationship with the company.&lt;/p&gt;</helpText>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Main_School_Input1</name>
            <choiceReferences>MainSchoolPicklist</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Main School</fieldText>
            <fieldType>DropdownBox</fieldType>
            <helpText>&lt;p&gt;CMU School cultivating the main relationship with this person. (Not necessarily this person&apos;s Primary School Affiliation or where they have attended or completed degrees)&lt;/p&gt;</helpText>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>MainLiaisonSelect</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Main_Liaison__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Main Liaison at CMU</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Affiliated_Contact__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Affiliated_Contact_Details_0</name>
        <label>Affiliated Contact Details</label>
        <locationX>1619</locationX>
        <locationY>345</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>CreateAffilContactCorpAccount_0</targetReference>
        </connector>
        <fields>
            <name>PleaseProvideDetails_0</name>
            <fieldText>&lt;p&gt;Please provide the rest of the details for this Affiliated Contact:&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Primary_Affiliations_to_Organization</name>
            <choiceReferences>CompanyAffiliation</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Their Primary Affiliation(s) to this Organization</fieldText>
            <fieldType>MultiSelectPicklist</fieldType>
            <helpText>&lt;p&gt;Indicate the nature of this person&apos;s relationship with the company.&lt;/p&gt;</helpText>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Main_School_Input2</name>
            <choiceReferences>MainSchoolPicklist</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Main School</fieldText>
            <fieldType>DropdownBox</fieldType>
            <helpText>&lt;p&gt;CMU School cultivating the main relationship with this person. (Not necessarily this person&apos;s Primary School Affiliation or where they have attended or completed degrees)&lt;/p&gt;</helpText>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>MainLiaisonSelect_0</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Main_Liaison__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Main Liaison at CMU</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Affiliated_Contact__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>CollectFieldsForContactCreate</name>
        <label>CollectFieldsForContactCreate</label>
        <locationX>535</locationX>
        <locationY>50</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Account</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Complete_the_Affiliation_Record</name>
        <label>Complete the Affiliation Record</label>
        <locationX>1114</locationX>
        <locationY>504</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>FindDuplicates</targetReference>
        </connector>
        <fields>
            <name>Company_Affiliation</name>
            <choiceReferences>CompanyAffiliation</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Company Affiliation</fieldText>
            <fieldType>MultiSelectPicklist</fieldType>
            <helpText>&lt;p&gt;Indicate the nature of this person&apos;s relationship with the company.&lt;/p&gt;</helpText>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Main_School_Input3</name>
            <choiceReferences>MainSchoolPicklist</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Main School</fieldText>
            <fieldType>DropdownBox</fieldType>
            <helpText>&lt;p&gt;CMU School cultivating the main relationship with this person. (Not necessarily this person&apos;s Primary School Affiliation or where they have attended or completed degrees)&lt;/p&gt;</helpText>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>User</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Main_Liaison__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Main Liaison</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Affiliated_Contact__c</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>MainLiaison.Id</assignToReference>
                <name>recordId</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Create_Account</name>
        <label>Create Account</label>
        <locationX>878</locationX>
        <locationY>243</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Corp_or_Foundation</targetReference>
        </connector>
        <fields>
            <name>Corporation_or_Foundation</name>
            <choiceReferences>Corporation</choiceReferences>
            <choiceReferences>Organization</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Corporation or Foundation?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Create_Corporation_Account</name>
        <label>Create Corporation Account</label>
        <locationX>1331</locationX>
        <locationY>186</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_Corporation_Account_Insert</targetReference>
        </connector>
        <fields>
            <name>CorpAccountPath</name>
            <fieldText>&lt;p&gt;Create Corporation Account Path&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Account_Name_Corp</name>
            <dataType>String</dataType>
            <fieldText>Account Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Secondary_Account_Type</name>
            <choiceReferences>Industry</choiceReferences>
            <choiceReferences>Non_Profit</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Secondary Corporate Account Type (Multi-Select)</fieldText>
            <fieldType>MultiSelectPicklist</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>CorpAddress</name>
            <extensionName>flowruntime:address</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>CompanyWebsite</name>
            <dataType>String</dataType>
            <fieldText>Company Website</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;Website should start with &apos;http&apos; or &apos;www&apos;.&lt;/p&gt;</errorMessage>
                <formulaExpression>BEGINS({!CompanyWebsite}, &quot;http&quot;)
||
BEGINS({!CompanyWebsite}, &quot;www&quot;)</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>SIC_Code</name>
            <dataType>String</dataType>
            <fieldText>SIC Code</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;SIC Code can&apos;t be longer than 20 digits&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN({!SIC_Code}) &lt;= 20</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>D_B_Number</name>
            <dataType>String</dataType>
            <fieldText>D&amp;B Number</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;D&amp;amp;B Number can&apos;t be longer than 9 digits.&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN({!D_B_Number}) &lt;= 9</formulaExpression>
            </validationRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Create_Organization_Account</name>
        <label>Create Organization Account</label>
        <locationX>1340</locationX>
        <locationY>345</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_Organization_Account_Insert</targetReference>
        </connector>
        <fields>
            <name>CorpAccountPath_0</name>
            <fieldText>&lt;p&gt;Create Organization Account Path&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Account_Name_Corp_0</name>
            <dataType>String</dataType>
            <fieldText>Account Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Account_Type</name>
            <choiceReferences>Foundation</choiceReferences>
            <choiceReferences>Government</choiceReferences>
            <choiceReferences>OtherOrganization</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Account Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Secondary_Account_Type_0</name>
            <choiceReferences>CorporateFoundation</choiceReferences>
            <choiceReferences>DonorAdvisedCharitableOrganization</choiceReferences>
            <choiceReferences>Non_Profit</choiceReferences>
            <choiceReferences>FamilyFoundation</choiceReferences>
            <choiceReferences>PrivateFoundation</choiceReferences>
            <choiceReferences>Federal</choiceReferences>
            <choiceReferences>GovernmentStateLocal</choiceReferences>
            <choiceReferences>EventOrganization</choiceReferences>
            <choiceReferences>UniversityCollege</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Secondary Account Type (Multi-Select)</fieldText>
            <fieldType>MultiSelectPicklist</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>CorpAddress_0</name>
            <extensionName>flowruntime:address</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>CompanyWebsite_0</name>
            <dataType>String</dataType>
            <fieldText>Organization Website</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;Website should start with &apos;http&apos; or &apos;www&apos;.&lt;/p&gt;</errorMessage>
                <formulaExpression>BEGINS({!CompanyWebsite_0}, &quot;http&quot;)
||
BEGINS({!CompanyWebsite_0}, &quot;www&quot;)</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>SIC_Code_0</name>
            <dataType>String</dataType>
            <fieldText>SIC Code</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;SIC Code can&apos;t be longer than 20 digits&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN({!SIC_Code_0}) &lt;= 20</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>D_B_Number_0</name>
            <dataType>String</dataType>
            <fieldText>D&amp;B Number</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;D&amp;amp;B Number can&apos;t be longer than 9 digits.&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN({!D_B_Number_0}) &lt;= 9</formulaExpression>
            </validationRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>finalPage</name>
        <label>finalPage</label>
        <locationX>1920</locationX>
        <locationY>188</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>End0</name>
            <fieldText>&lt;p&gt;The Affiliated Company has been added to the Contact.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>finalPage_0</name>
        <label>finalPage</label>
        <locationX>1902</locationX>
        <locationY>341</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>End2</name>
            <fieldText>&lt;p&gt;The Affiliated Company has been added to the Contact.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>finalPage_0_0</name>
        <label>finalPage</label>
        <locationX>1789</locationX>
        <locationY>500</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>End1</name>
            <fieldText>&lt;p&gt;The Affiliated Company has been added to the Contact.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>RecordExists</name>
        <label>RecordExists</label>
        <locationX>1526</locationX>
        <locationY>711</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>AlreadyExists</name>
            <fieldText>&lt;p&gt;An Affiliated Contact already exists for this Contact on this Account.  &lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>SearchForAcct</name>
        <label>SearchForAcct</label>
        <locationX>817</locationX>
        <locationY>489</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Select_Acct</targetReference>
        </connector>
        <fields>
            <name>Search_for_Existing</name>
            <fieldText>&lt;p&gt;Search for an Existing Account in T360&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Account_Name</name>
            <dataType>String</dataType>
            <fieldText>Account Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_Acct</name>
        <label>Select Acct</label>
        <locationX>963</locationX>
        <locationY>488</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Complete_the_Affiliation_Record</targetReference>
        </connector>
        <fields>
            <name>Select_Account_Record</name>
            <choiceReferences>AccountRecord</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select Account Record</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>341</locationY>
        <connector>
            <targetReference>Add_New_Affiliated_Contact</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ChosenAccount</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ChosenContact</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>MainLiaison</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>noIdPassed</stringValue>
        </value>
    </variables>
</Flow>
